## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
import matplotlib.pyplot as plt

from keras.callbacks import Callback
import os

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

2023-08-28 11:44:35.633721: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  SSE4.1 SSE4.2 AVX AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_clean = application_df.copy()
application_clean.drop(columns=["EIN","NAME"], axis=1, inplace=True)
application_clean.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
application_clean.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_values = application_clean["APPLICATION_TYPE"].value_counts()
application_values

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
#Compile values into dictionary
application_dict = application_values.to_dict()

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = []

for key,value in application_dict.items():
  if value < 528:
    application_types_to_replace.append(key)

# Replace in dataframe
for app in application_types_to_replace:
    application_clean['APPLICATION_TYPE'] = application_clean['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_clean['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
class_values = application_clean["CLASSIFICATION"].value_counts()
class_values

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_values_limited = application_clean["CLASSIFICATION"].value_counts()[application_clean["CLASSIFICATION"].value_counts() >1]
class_values_limited

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert value counts to dict
class_dict = class_values.to_dict()

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = []

for key,value in class_dict.items():
  if value < 287:
    classifications_to_replace.append(key)


# Replace in dataframe
for cls in classifications_to_replace:
    application_clean['CLASSIFICATION'] = application_clean['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_clean['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1197
C7000      777
C1700      287
Name: CLASSIFICATION, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
application_dummies = pd.get_dummies(application_clean, columns=["SPECIAL_CONSIDERATIONS", "APPLICATION_TYPE", "CLASSIFICATION",\
                                                                 "AFFILIATION", "USE_CASE", "ORGANIZATION", "INCOME_AMT"])

application_dummies.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,1,5000,1,1,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,1,108590,1,1,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
2,1,5000,0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,1,6692,1,1,0,0,0,0,1,0,...,1,0,0,1,0,0,0,0,0,0
4,1,142590,1,1,0,0,0,0,1,0,...,1,0,0,0,1,0,0,0,0,0

In [12]:
# Split our preprocessed data into our features and target arrays
y = application_dummies["IS_SUCCESSFUL"].values.reshape(-1, 1)
X = application_dummies.copy()
X.drop(columns="IS_SUCCESSFUL", axis=1, inplace=True)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [14]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#

# Define the model - deep neural net
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  8000
hidden_nodes_layer2 = 3000

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

2023-08-28 11:45:00.467739: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  SSE4.1 SSE4.2 AVX AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8000)              368000

 dense_1 (Dense)             (None, 3000)              24003000

 dense_2 (Dense)             (None, 1)                 3001

=================================================================
Total params: 24,374,001
Trainable params: 24,374,001
Non-trainable params: 0
_________________________________________________________________

In [15]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [16]:
# Callbacks loop via ChatGPT
class SaveModelWeights(Callback):
    def __init__(self, save_dir, save_interval=5):
        super(SaveModelWeights, self).__init__()
        self.save_dir = save_dir
        self.save_interval = save_interval
        self.epoch_count = 0

    def on_epoch_end(self, epoch, logs=None):
        self.epoch_count += 1
        if self.epoch_count % self.save_interval == 0:
            model_name = f"model_weights_epoch_{self.epoch_count}.h5"
            save_path = os.path.join(self.save_dir, model_name)
            self.model.save_weights(save_path)
            print(f"Saved model weights at epoch {self.epoch_count} to {save_path}")


# Directory to save model weights
save_dir = 'model_weights'

# Create the callback
save_callback = SaveModelWeights(save_dir, save_interval=5)

In [ ]:
# Train the model
# fit_model = nn.fit(X_train_scaled,y_train,epochs=100, callbacks=[save_callback])
fit_model = nn.fit(X_train_scaled,y_train,epochs=300)

Epoch 1/300
804/804 [==============================] - 229s 281ms/step - loss: 0.5761 - accuracy: 0.7208
Epoch 2/300
804/804 [==============================] - 224s 278ms/step - loss: 0.5595 - accuracy: 0.7280
Epoch 3/300
804/804 [==============================] - 1884s 2s/step - loss: 0.5544 - accuracy: 0.7311
Epoch 4/300
804/804 [==============================] - 1320s 2s/step - loss: 0.5525 - accuracy: 0.7311
Epoch 5/300
804/804 [==============================] - 295s 368ms/step - loss: 0.5502 - accuracy: 0.7321
Epoch 6/300
804/804 [==============================] - 257s 319ms/step - loss: 0.5508 - accuracy: 0.7329
Epoch 7/300
804/804 [==============================] - 261s 324ms/step - loss: 0.5490 - accuracy: 0.7307
Epoch 8/300
804/804 [==============================] - 340s 423ms/step - loss: 0.5487 - accuracy: 0.7326
Epoch 9/300
804/804 [==============================] - 342s 425ms/step - loss: 0.5474 - accuracy: 0.7341
Epoch 10/300
804/804 [==============================] - 334s 415ms/step - loss: 0.5479 - accuracy: 0.7340
Epoch 11/300
804/804 [==============================] - 351s 437ms/step - loss: 0.5466 - accuracy: 0.7334
Epoch 12/300
804/804 [==============================] - 328s 408ms/step - loss: 0.5458 - accuracy: 0.7344
Epoch 13/300
804/804 [==============================] - 286s 356ms/step - loss: 0.5457 - accuracy: 0.7345
Epoch 14/300
804/804 [==============================] - 260s 324ms/step - loss: 0.5454 - accuracy: 0.7351
Epoch 15/300
804/804 [==============================] - 1221s 2s/step - loss: 0.5451 - accuracy: 0.7346
Epoch 16/300
804/804 [==============================] - 227s 282ms/step - loss: 0.5450 - accuracy: 0.7352
Epoch 17/300
804/804 [==============================] - 256s 319ms/step - loss: 0.5440 - accuracy: 0.7341
Epoch 18/300
804/804 [==============================] - 2057s 3s/step - loss: 0.5443 - accuracy: 0.7360
Epoch 19/300
804/804 [==============================] - 277s 345ms/step - loss: 0.5429 - accuracy: 0.7348
Epoch 20/300
804/804 [==============================] - 240s 299ms/step - loss: 0.5433 - accuracy: 0.7357
Epoch 21/300
804/804 [==============================] - 242s 300ms/step - loss: 0.5433 - accuracy: 0.7348
Epoch 22/300
804/804 [==============================] - 263s 327ms/step - loss: 0.5429 - accuracy: 0.7358
Epoch 23/300
804/804 [==============================] - 249s 310ms/step - loss: 0.5421 - accuracy: 0.7355
Epoch 24/300
804/804 [==============================] - 253s 314ms/step - loss: 0.5431 - accuracy: 0.7353
Epoch 25/300
804/804 [==============================] - 251s 312ms/step - loss: 0.5423 - accuracy: 0.7364
Epoch 26/300
804/804 [==============================] - 274s 341ms/step - loss: 0.5634 - accuracy: 0.7361
Epoch 27/300
804/804 [==============================] - 271s 338ms/step - loss: 0.5422 - accuracy: 0.7362
Epoch 28/300
804/804 [==============================] - 258s 321ms/step - loss: 0.5421 - accuracy: 0.7366
Epoch 29/300
804/804 [==============================] - 256s 319ms/step - loss: 0.5415 - accuracy: 0.7368
Epoch 30/300
804/804 [==============================] - 249s 309ms/step - loss: 0.5410 - accuracy: 0.7367
Epoch 31/300
804/804 [==============================] - 250s 311ms/step - loss: 0.5412 - accuracy: 0.7364
Epoch 32/300
804/804 [==============================] - 250s 311ms/step - loss: 0.5439 - accuracy: 0.7366
Epoch 33/300
804/804 [==============================] - 250s 311ms/step - loss: 0.5412 - accuracy: 0.7362
Epoch 34/300
804/804 [==============================] - 512s 637ms/step - loss: 0.5408 - accuracy: 0.7374
Epoch 35/300
804/804 [==============================] - 251s 312ms/step - loss: 0.5408 - accuracy: 0.7369
Epoch 36/300
804/804 [==============================] - 253s 315ms/step - loss: 0.5398 - accuracy: 0.7362
Epoch 37/300
804/804 [==============================] - 274s 340ms/step - loss: 0.5409 - accuracy: 0.7366
Epoch 38/300
804/804 [==============================] - 263s 328ms/step - loss: 0.5405 - accuracy: 0.7374
Epoch 39/300
804/804 [==============================] - 259s 323ms/step - loss: 0.5403 - accuracy: 0.7372
Epoch 40/300
804/804 [==============================] - 282s 351ms/step - loss: 0.5397 - accuracy: 0.7367
Epoch 41/300
804/804 [==============================] - 166s 206ms/step - loss: 0.5400 - accuracy: 0.7374
Epoch 42/300
804/804 [==============================] - 155s 193ms/step - loss: 0.5400 - accuracy: 0.7372
Epoch 43/300
804/804 [==============================] - 159s 198ms/step - loss: 0.5413 - accuracy: 0.7371
Epoch 44/300
804/804 [==============================] - 157s 195ms/step - loss: 0.5396 - accuracy: 0.7371
Epoch 45/300
804/804 [==============================] - 308s 383ms/step - loss: 0.5407 - accuracy: 0.7370
Epoch 46/300
804/804 [==============================] - 164s 204ms/step - loss: 0.5397 - accuracy: 0.7367
Epoch 47/300
804/804 [==============================] - 168s 209ms/step - loss: 0.5395 - accuracy: 0.7366
Epoch 48/300
804/804 [==============================] - 160s 199ms/step - loss: 0.5397 - accuracy: 0.7367
Epoch 49/300
804/804 [==============================] - 304s 378ms/step - loss: 0.5408 - accuracy: 0.7374
Epoch 50/300
804/804 [==============================] - 310s 385ms/step - loss: 0.5396 - accuracy: 0.7373
Epoch 51/300
804/804 [==============================] - 1954s 2s/step - loss: 0.5386 - accuracy: 0.7371
Epoch 52/300
804/804 [==============================] - 323s 402ms/step - loss: 0.5395 - accuracy: 0.7366
Epoch 53/300
642/804 [======================>.......] - ETA: 35s - loss: 0.5419 - accuracy: 0.7360

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

In [ ]:
# Create a DataFrame containing training history
history_df = pd.DataFrame(fit_model.history)

# Increase the index by 1 to match the number of epochs
history_df.index += 1

# Plot the loss
history_df.plot(y="accuracy",title="Accuracy over 100 epochs")

plt.savefig('Plots/opt2_accuracy.png')
plt.show()

In [ ]:
# Plot the loss
history_df.plot(y="loss", title="Loss over 100 epochs")

plt.savefig('Plots/opt2_loss.png')
plt.show()

In [ ]:
# Export our model to HDF5 file
nn.save("H5_Files/AlphabetSoupCharityopt2.h5")