## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

from warnings import simplefilter
# ignore all future warnings
simplefilter(action='ignore')

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

2023-08-27 17:13:10.074346: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  SSE4.1 SSE4.2 AVX AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_clean = application_df.copy()
application_clean.drop(columns=["EIN","NAME"], axis=1, inplace=True)
application_clean.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Determine the number of unique values in each column.
application_clean.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
amt = application_clean["ASK_AMT"]

In [6]:
amt.mean()

2769198.6820607013

In [7]:
amt.median()

5000.0

In [8]:
amt_values = amt.value_counts()
amt.sort_values()

0              5000
20358          5000
20356          5000
20355          5000
20354          5000
            ...
31337    3391919220
24795    4653011914
33678    5591584994
34222    8556638692
33175    8597806340
Name: ASK_AMT, Length: 34299, dtype: int64

In [9]:
bins = [0, 5001, 49999, 99999, 249999, 999999, 90000000000]
labels = [" 5K or less ", " 5K-50K ", " 50K-100k", " 100k-250k ", " 250k-1M ", "Over 1M" ]

In [10]:
application_clean["ASK_BINS"] = pd.cut(amt, bins, labels=labels)

In [11]:
application_clean.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL,ASK_BINS
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1,5K or less
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1,100k-250k
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0,5K or less
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1,5K-50K
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1,100k-250k

In [12]:
application_clean["ASK_BINS"].value_counts()

 5K or less     25399
 5K-50K          2946
Over 1M          1577
 250k-1M         1513
 100k-250k       1443
 50K-100k        1421
Name: ASK_BINS, dtype: int64

In [13]:
application_clean.drop(columns="ASK_AMT", axis=1, inplace=True)

In [14]:
# Create 3 Income Buckets
income_values = application_clean["INCOME_AMT"].value_counts()

In [15]:
income_dict = income_values.to_dict()
income_dict

{'0': 24388,
 '25000-99999': 3747,
 '100000-499999': 3374,
 '1M-5M': 955,
 '1-9999': 728,
 '10000-24999': 543,
 '10M-50M': 240,
 '5M-10M': 185,
 '50M+': 139}

In [16]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
high_income_replace = []
mid_income_replace = []

for key,value in income_dict.items():
  if value < 1000:
    high_income_replace.append(key)
  elif value > 1000 and value < 4000:
    mid_income_replace.append(key)

# Replace in dataframe
for app in high_income_replace:
    application_clean['INCOME_AMT'] = application_clean['INCOME_AMT'].replace(app,"1M+")

for app in mid_income_replace:
    application_clean['INCOME_AMT'] = application_clean['INCOME_AMT'].replace(app,"25000-499999")


application_clean['INCOME_AMT'].value_counts()

0               24388
25000-499999     7121
1M+              2790
Name: INCOME_AMT, dtype: int64

In [17]:
# Look at APPLICATION_TYPE value counts for binning
application_values = application_clean["APPLICATION_TYPE"].value_counts()
application_values

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [18]:
#Compile values into dictionary
application_dict = application_values.to_dict()

In [19]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = []

for key,value in application_dict.items():
  if value < 737:
    application_types_to_replace.append(key)

# Replace in dataframe
for app in application_types_to_replace:
    application_clean['APPLICATION_TYPE'] = application_clean['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_clean['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
Other     1529
T6        1216
T5        1173
T19       1065
T8         737
Name: APPLICATION_TYPE, dtype: int64

In [20]:
# Look at CLASSIFICATION value counts for binning
class_values = application_clean["CLASSIFICATION"].value_counts()
class_values

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [21]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_values_limited = application_clean["CLASSIFICATION"].value_counts()[application_clean["CLASSIFICATION"].value_counts() >1]
class_values_limited

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [22]:
# Convert value counts to dict
class_dict = class_values.to_dict()

In [23]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = []

for key,value in class_dict.items():
  if value < 777:
    classifications_to_replace.append(key)


# Replace in dataframe
for cls in classifications_to_replace:
    application_clean['CLASSIFICATION'] = application_clean['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_clean['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [24]:
# application_clean.drop(columns=["CLASSIFICATION", "APPLICATION_TYPE", "INCOME_AMT"], axis=1, inplace=True)

In [25]:
# Convert categorical data to numeric with `pd.get_dummies`
application_dummies = pd.get_dummies(application_clean, columns=["ORGANIZATION","CLASSIFICATION", "APPLICATION_TYPE", "INCOME_AMT", \
                                                                 "ASK_BINS","SPECIAL_CONSIDERATIONS","USE_CASE","AFFILIATION", "STATUS"])

application_dummies.head()

,IS_SUCCESSFUL,ORGANIZATION_Association,ORGANIZATION_Co-operative,ORGANIZATION_Corporation,ORGANIZATION_Trust,CLASSIFICATION_C1000,CLASSIFICATION_C1200,CLASSIFICATION_C2000,CLASSIFICATION_C2100,CLASSIFICATION_C3000,...,USE_CASE_Preservation,USE_CASE_ProductDev,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,AFFILIATION_Independent,AFFILIATION_National,AFFILIATION_Other,AFFILIATION_Regional,STATUS_0,STATUS_1
0,1,1,0,0,0,1,0,0,0,0,...,0,1,0,0,1,0,0,0,0,1
1,1,0,1,0,0,0,0,1,0,0,...,1,0,0,0,1,0,0,0,0,1
2,0,1,0,0,0,0,0,0,0,1,...,0,1,1,0,0,0,0,0,0,1
3,1,0,0,0,1,0,0,1,0,0,...,1,0,1,0,0,0,0,0,0,1
4,1,0,0,0,1,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1

In [26]:
# Split our preprocessed data into our features and target arrays
y = application_dummies["IS_SUCCESSFUL"].values.reshape(-1, 1)
X = application_dummies.copy()
X.drop(columns="IS_SUCCESSFUL", axis=1, inplace=True)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [27]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [28]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#

# Define the model - deep neural net
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  100
hidden_nodes_layer2 = 500
hidden_nodes_layer3 = 500
hidden_nodes_layer4 = 2000
# hidden_nodes_layer4 = 100
# hidden_nodes_layer4 = 100
# hidden_nodes_layer4 = 100

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# # Fourth hidden layer
# nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer4, activation="relu"))

# # Fourth hidden layer
# nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer4, activation="relu"))

# # # Fourth hidden layer
# nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer4, activation="relu"))

# # # Fourth hidden layer
# nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer4, activation="relu"))

# # # Fourth hidden layer
# nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer4, activation="relu"))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

2023-08-27 17:17:34.437139: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  SSE4.1 SSE4.2 AVX AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 100)               4300

 dense_1 (Dense)             (None, 500)               50500

 dense_2 (Dense)             (None, 500)               250500

 dense_3 (Dense)             (None, 1)                 501

=================================================================
Total params: 305,801
Trainable params: 305,801
Non-trainable params: 0
_________________________________________________________________

In [29]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [30]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 10s 9ms/step - loss: 0.5691 - accuracy: 0.7219
Epoch 2/100
804/804 [==============================] - 7s 9ms/step - loss: 0.5548 - accuracy: 0.7294
Epoch 3/100
804/804 [==============================] - 7s 9ms/step - loss: 0.5520 - accuracy: 0.7310
Epoch 4/100
804/804 [==============================] - 7s 9ms/step - loss: 0.5494 - accuracy: 0.7317
Epoch 5/100
804/804 [==============================] - 7s 9ms/step - loss: 0.5478 - accuracy: 0.7336
Epoch 6/100
804/804 [==============================] - 8s 10ms/step - loss: 0.5465 - accuracy: 0.7337
Epoch 7/100
804/804 [==============================] - 8s 10ms/step - loss: 0.5452 - accuracy: 0.7351
Epoch 8/100
804/804 [==============================] - 8s 10ms/step - loss: 0.5450 - accuracy: 0.7348
Epoch 9/100
804/804 [==============================] - 8s 9ms/step - loss: 0.5435 - accuracy: 0.7358
Epoch 10/100
804/804 [==============================] - 8s 10ms/step - loss: 0.5433 - accuracy: 0.7365
Epoch 11/100
804/804 [==============================] - 7s 9ms/step - loss: 0.5424 - accuracy: 0.7360
Epoch 12/100
804/804 [==============================] - 7s 9ms/step - loss: 0.5421 - accuracy: 0.7349
Epoch 13/100
804/804 [==============================] - 7s 9ms/step - loss: 0.5409 - accuracy: 0.7371
Epoch 14/100
804/804 [==============================] - 7s 9ms/step - loss: 0.5404 - accuracy: 0.7373
Epoch 15/100
804/804 [==============================] - 7s 9ms/step - loss: 0.5394 - accuracy: 0.7372
Epoch 16/100
804/804 [==============================] - 7s 9ms/step - loss: 0.5392 - accuracy: 0.7385
Epoch 17/100
804/804 [==============================] - 7s 9ms/step - loss: 0.5391 - accuracy: 0.7387
Epoch 18/100
804/804 [==============================] - 7s 9ms/step - loss: 0.5378 - accuracy: 0.7386
Epoch 19/100
804/804 [==============================] - 7s 9ms/step - loss: 0.5375 - accuracy: 0.7390
Epoch 20/100
804/804 [==============================] - 7s 9ms/step - loss: 0.5372 - accuracy: 0.7391
Epoch 21/100
804/804 [==============================] - 8s 9ms/step - loss: 0.5368 - accuracy: 0.7390
Epoch 22/100
804/804 [==============================] - 6s 8ms/step - loss: 0.5360 - accuracy: 0.7400
Epoch 23/100
804/804 [==============================] - 7s 9ms/step - loss: 0.5358 - accuracy: 0.7399
Epoch 24/100
804/804 [==============================] - 7s 9ms/step - loss: 0.5353 - accuracy: 0.7399
Epoch 25/100
804/804 [==============================] - 7s 9ms/step - loss: 0.5342 - accuracy: 0.7405
Epoch 26/100
804/804 [==============================] - 7s 9ms/step - loss: 0.5347 - accuracy: 0.7400
Epoch 27/100
804/804 [==============================] - 7s 9ms/step - loss: 0.5341 - accuracy: 0.7403
Epoch 28/100
804/804 [==============================] - 7s 9ms/step - loss: 0.5337 - accuracy: 0.7404
Epoch 29/100
804/804 [==============================] - 7s 9ms/step - loss: 0.5336 - accuracy: 0.7407
Epoch 30/100
804/804 [==============================] - 7s 9ms/step - loss: 0.5331 - accuracy: 0.7409
Epoch 31/100
804/804 [==============================] - 7s 8ms/step - loss: 0.5322 - accuracy: 0.7414
Epoch 32/100
804/804 [==============================] - 7s 9ms/step - loss: 0.5329 - accuracy: 0.7410
Epoch 33/100
804/804 [==============================] - 7s 9ms/step - loss: 0.5319 - accuracy: 0.7409
Epoch 34/100
804/804 [==============================] - 7s 9ms/step - loss: 0.5320 - accuracy: 0.7404
Epoch 35/100
804/804 [==============================] - 7s 9ms/step - loss: 0.5314 - accuracy: 0.7411
Epoch 36/100
804/804 [==============================] - 8s 10ms/step - loss: 0.5317 - accuracy: 0.7411
Epoch 37/100
804/804 [==============================] - 7s 9ms/step - loss: 0.5311 - accuracy: 0.7419
Epoch 38/100
804/804 [==============================] - 7s 8ms/step - loss: 0.5313 - accuracy: 0.7414
Epoch 39/100
804/804 [==============================] - 7s 8ms/step - loss: 0.5312 - accuracy: 0.7406
Epoch 40/100
804/804 [==============================] - 7s 9ms/step - loss: 0.5307 - accuracy: 0.7409
Epoch 41/100
804/804 [==============================] - 8s 10ms/step - loss: 0.5310 - accuracy: 0.7409
Epoch 42/100
804/804 [==============================] - 9s 11ms/step - loss: 0.5306 - accuracy: 0.7414
Epoch 43/100
804/804 [==============================] - 9s 12ms/step - loss: 0.5302 - accuracy: 0.7417
Epoch 44/100
804/804 [==============================] - 9s 11ms/step - loss: 0.5294 - accuracy: 0.7418
Epoch 45/100
804/804 [==============================] - 9s 11ms/step - loss: 0.5289 - accuracy: 0.7419
Epoch 46/100
804/804 [==============================] - 8s 10ms/step - loss: 0.5313 - accuracy: 0.7417
Epoch 47/100
804/804 [==============================] - 8s 10ms/step - loss: 0.5296 - accuracy: 0.7420
Epoch 48/100
804/804 [==============================] - 8s 11ms/step - loss: 0.5286 - accuracy: 0.7423
Epoch 49/100
804/804 [==============================] - 9s 11ms/step - loss: 0.5294 - accuracy: 0.7414
Epoch 50/100
804/804 [==============================] - 9s 11ms/step - loss: 0.5292 - accuracy: 0.7423
Epoch 51/100
804/804 [==============================] - 9s 11ms/step - loss: 0.5297 - accuracy: 0.7420
Epoch 52/100
804/804 [==============================] - 9s 11ms/step - loss: 0.5287 - accuracy: 0.7423
Epoch 53/100
804/804 [==============================] - 9s 11ms/step - loss: 0.5299 - accuracy: 0.7421
Epoch 54/100
804/804 [==============================] - 9s 11ms/step - loss: 0.5283 - accuracy: 0.7426
Epoch 55/100
804/804 [==============================] - 9s 11ms/step - loss: 0.5288 - accuracy: 0.7420
Epoch 56/100
804/804 [==============================] - 9s 11ms/step - loss: 0.5278 - accuracy: 0.7418
Epoch 57/100
804/804 [==============================] - 9s 11ms/step - loss: 0.5283 - accuracy: 0.7422
Epoch 58/100
804/804 [==============================] - 9s 11ms/step - loss: 0.5306 - accuracy: 0.7421
Epoch 59/100
804/804 [==============================] - 9s 12ms/step - loss: 0.5290 - accuracy: 0.7421
Epoch 60/100
804/804 [==============================] - 9s 11ms/step - loss: 0.5277 - accuracy: 0.7430
Epoch 61/100
804/804 [==============================] - 9s 11ms/step - loss: 0.5287 - accuracy: 0.7420
Epoch 62/100
804/804 [==============================] - 9s 11ms/step - loss: 0.5286 - accuracy: 0.7423
Epoch 63/100
804/804 [==============================] - 9s 11ms/step - loss: 0.5408 - accuracy: 0.7422
Epoch 64/100
804/804 [==============================] - 9s 11ms/step - loss: 0.5302 - accuracy: 0.7414
Epoch 65/100
804/804 [==============================] - 9s 11ms/step - loss: 0.5269 - accuracy: 0.7430
Epoch 66/100
804/804 [==============================] - 9s 11ms/step - loss: 0.5275 - accuracy: 0.7432
Epoch 67/100
804/804 [==============================] - 9s 11ms/step - loss: 0.5273 - accuracy: 0.7421
Epoch 68/100
804/804 [==============================] - 9s 12ms/step - loss: 0.5272 - accuracy: 0.7418
Epoch 69/100
804/804 [==============================] - 9s 11ms/step - loss: 0.5268 - accuracy: 0.7428
Epoch 70/100
804/804 [==============================] - 9s 11ms/step - loss: 0.5267 - accuracy: 0.7430
Epoch 71/100
804/804 [==============================] - 9s 11ms/step - loss: 0.5274 - accuracy: 0.7417
Epoch 72/100
804/804 [==============================] - 9s 11ms/step - loss: 0.5295 - accuracy: 0.7421
Epoch 73/100
804/804 [==============================] - 9s 11ms/step - loss: 0.5285 - accuracy: 0.7417
Epoch 74/100
804/804 [==============================] - 9s 12ms/step - loss: 0.5274 - accuracy: 0.7428
Epoch 75/100
804/804 [==============================] - 10s 12ms/step - loss: 0.5275 - accuracy: 0.7420
Epoch 76/100
804/804 [==============================] - 9s 11ms/step - loss: 0.5278 - accuracy: 0.7422
Epoch 77/100
804/804 [==============================] - 10s 12ms/step - loss: 0.5281 - accuracy: 0.7423
Epoch 78/100
804/804 [==============================] - 10s 12ms/step - loss: 0.5266 - accuracy: 0.7424
Epoch 79/100
804/804 [==============================] - 11s 13ms/step - loss: 0.5262 - accuracy: 0.7423
Epoch 80/100

804/804 [==============================] - 9s 11ms/step - loss: 0.5270 - accuracy: 0.7426
Epoch 81/100
804/804 [==============================] - 9s 11ms/step - loss: 0.5297 - accuracy: 0.7421
Epoch 82/100
804/804 [==============================] - 8s 10ms/step - loss: 0.5274 - accuracy: 0.7424
Epoch 83/100
804/804 [==============================] - 8s 11ms/step - loss: 0.5273 - accuracy: 0.7426
Epoch 84/100
804/804 [==============================] - 9s 11ms/step - loss: 0.5268 - accuracy: 0.7431
Epoch 85/100
804/804 [==============================] - 9s 11ms/step - loss: 0.5270 - accuracy: 0.7419
Epoch 86/100
804/804 [==============================] - 8s 10ms/step - loss: 0.5272 - accuracy: 0.7424
Epoch 87/100
804/804 [==============================] - 9s 11ms/step - loss: 0.5277 - accuracy: 0.7417
Epoch 88/100
804/804 [==============================] - 9s 11ms/step - loss: 0.5268 - accuracy: 0.7428
Epoch 89/100
804/804 [==============================] - 9s 12ms/step - loss: 0.5277 - accuracy: 0.7422
Epoch 90/100
804/804 [==============================] - 9s 11ms/step - loss: 0.5262 - accuracy: 0.7426
Epoch 91/100
804/804 [==============================] - 9s 11ms/step - loss: 0.5271 - accuracy: 0.7425
Epoch 92/100
804/804 [==============================] - 10s 12ms/step - loss: 0.5278 - accuracy: 0.7424
Epoch 93/100
804/804 [==============================] - 10s 12ms/step - loss: 0.5267 - accuracy: 0.7428
Epoch 94/100
804/804 [==============================] - 10s 12ms/step - loss: 0.5260 - accuracy: 0.7430
Epoch 95/100
804/804 [==============================] - 10s 12ms/step - loss: 0.5267 - accuracy: 0.7432
Epoch 96/100
804/804 [==============================] - 10s 12ms/step - loss: 0.5259 - accuracy: 0.7425
Epoch 97/100
804/804 [==============================] - 9s 12ms/step - loss: 0.5260 - accuracy: 0.7428
Epoch 98/100
804/804 [==============================] - 11s 13ms/step - loss: 0.5305 - accuracy: 0.7429
Epoch 99/100
804/804 [==============================] - 12s 15ms/step - loss: 0.5280 - accuracy: 0.7424
Epoch 100/100
804/804 [==============================] - 12s 15ms/step - loss: 0.5763 - accuracy: 0.7403

In [31]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 4s - loss: 0.5905 - accuracy: 0.7287 - 4s/epoch - 17ms/step
Loss: 0.5905022025108337, Accuracy: 0.7287463545799255

In [34]:
# Export our model to HDF5
nn.save('AlphabetSoupCharity_Optimization_2b.h5')