## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

from warnings import simplefilter
# ignore all future warnings
simplefilter(action='ignore')

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

2023-08-27 11:36:08.316519: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  SSE4.1 SSE4.2 AVX AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_clean = application_df.copy()
application_clean.drop(columns=["EIN","NAME","SPECIAL_CONSIDERATIONS"], axis=1, inplace=True)
application_clean.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,142590,1

In [3]:
# Determine the number of unique values in each column.
application_clean.nunique()

APPLICATION_TYPE      17
AFFILIATION            6
CLASSIFICATION        71
USE_CASE               5
ORGANIZATION           4
STATUS                 2
INCOME_AMT             9
ASK_AMT             8747
IS_SUCCESSFUL          2
dtype: int64

In [4]:
amt = application_clean["ASK_AMT"]

In [5]:
amt.mean()

2769198.6820607013

In [6]:
amt.median()

5000.0

In [7]:
amt_values = amt.value_counts()
amt.sort_values()

0              5000
20358          5000
20356          5000
20355          5000
20354          5000
            ...
31337    3391919220
24795    4653011914
33678    5591584994
34222    8556638692
33175    8597806340
Name: ASK_AMT, Length: 34299, dtype: int64

In [8]:
bins = [0, 5001, 49999, 99999, 249999, 999999, 90000000000]
labels = [" 5K or less ", " 5K-50K ", " 50K-100k", " 100k-250k ", " 250k-1M ", "Over 1M" ]

In [9]:
application_clean["ASK_BINS"] = pd.cut(amt, bins, labels=labels)

In [10]:
application_clean.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL,ASK_BINS
0,T10,Independent,C1000,ProductDev,Association,1,0,5000,1,5K or less
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,108590,1,100k-250k
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,5000,0,5K or less
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,6692,1,5K-50K
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,142590,1,100k-250k

In [11]:
application_clean["ASK_BINS"].value_counts()

 5K or less     25399
 5K-50K          2946
Over 1M          1577
 250k-1M         1513
 100k-250k       1443
 50K-100k        1421
Name: ASK_BINS, dtype: int64

In [12]:
application_clean.drop(columns="ASK_AMT", axis=1, inplace=True)

In [13]:
# Create 3 Income Buckets
income_values = application_clean["INCOME_AMT"].value_counts()

In [14]:
income_dict = income_values.to_dict()
income_dict

{'0': 24388,
 '25000-99999': 3747,
 '100000-499999': 3374,
 '1M-5M': 955,
 '1-9999': 728,
 '10000-24999': 543,
 '10M-50M': 240,
 '5M-10M': 185,
 '50M+': 139}

In [15]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
high_income_replace = []
mid_income_replace = []

for key,value in income_dict.items():
  if value < 1000:
    high_income_replace.append(key)
  elif value > 1000 and value < 4000:
    mid_income_replace.append(key)

# Replace in dataframe
for app in high_income_replace:
    application_clean['INCOME_AMT'] = application_clean['INCOME_AMT'].replace(app,"1M+")

for app in mid_income_replace:
    application_clean['INCOME_AMT'] = application_clean['INCOME_AMT'].replace(app,"25000-499999")


application_clean['INCOME_AMT'].value_counts()

0               24388
25000-499999     7121
1M+              2790
Name: INCOME_AMT, dtype: int64

In [16]:
# Look at APPLICATION_TYPE value counts for binning
application_values = application_clean["APPLICATION_TYPE"].value_counts()
application_values

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [17]:
#Compile values into dictionary
application_dict = application_values.to_dict()

In [18]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = []

for key,value in application_dict.items():
  if value < 737:
    application_types_to_replace.append(key)

# Replace in dataframe
for app in application_types_to_replace:
    application_clean['APPLICATION_TYPE'] = application_clean['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_clean['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
Other     1529
T6        1216
T5        1173
T19       1065
T8         737
Name: APPLICATION_TYPE, dtype: int64

In [19]:
# Look at CLASSIFICATION value counts for binning
class_values = application_clean["CLASSIFICATION"].value_counts()
class_values

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [20]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_values_limited = application_clean["CLASSIFICATION"].value_counts()[application_clean["CLASSIFICATION"].value_counts() >1]
class_values_limited

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [21]:
# Convert value counts to dict
class_dict = class_values.to_dict()

In [22]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = []

for key,value in class_dict.items():
  if value < 777:
    classifications_to_replace.append(key)


# Replace in dataframe
for cls in classifications_to_replace:
    application_clean['CLASSIFICATION'] = application_clean['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_clean['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [23]:
# application_clean.drop(columns=["CLASSIFICATION", "APPLICATION_TYPE", "INCOME_AMT"], axis=1, inplace=True)

In [24]:
# Convert categorical data to numeric with `pd.get_dummies`
application_dummies = pd.get_dummies(application_clean, columns=["ORGANIZATION","CLASSIFICATION", "APPLICATION_TYPE", "INCOME_AMT", \
                                                                 "ASK_BINS","USE_CASE","AFFILIATION", "STATUS"])

application_dummies.head()

,IS_SUCCESSFUL,ORGANIZATION_Association,ORGANIZATION_Co-operative,ORGANIZATION_Corporation,ORGANIZATION_Trust,CLASSIFICATION_C1000,CLASSIFICATION_C1200,CLASSIFICATION_C2000,CLASSIFICATION_C2100,CLASSIFICATION_C3000,...,USE_CASE_Preservation,USE_CASE_ProductDev,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,AFFILIATION_Independent,AFFILIATION_National,AFFILIATION_Other,AFFILIATION_Regional,STATUS_0,STATUS_1
0,1,1,0,0,0,1,0,0,0,0,...,0,1,0,0,1,0,0,0,0,1
1,1,0,1,0,0,0,0,1,0,0,...,1,0,0,0,1,0,0,0,0,1
2,0,1,0,0,0,0,0,0,0,1,...,0,1,1,0,0,0,0,0,0,1
3,1,0,0,0,1,0,0,1,0,0,...,1,0,1,0,0,0,0,0,0,1
4,1,0,0,0,1,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1

In [25]:
# Split our preprocessed data into our features and target arrays
y = application_dummies["IS_SUCCESSFUL"].values.reshape(-1, 1)
X = application_dummies.copy()
X.drop(columns="IS_SUCCESSFUL", axis=1, inplace=True)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [26]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [27]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#

# Define the model - deep neural net
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  1000
hidden_nodes_layer2 = 5000
hidden_nodes_layer3 = 5000
hidden_nodes_layer4 = 2000
# hidden_nodes_layer4 = 100
# hidden_nodes_layer4 = 100
# hidden_nodes_layer4 = 100

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# # Fourth hidden layer
# nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer4, activation="relu"))

# # Fourth hidden layer
# nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer4, activation="relu"))

# # # Fourth hidden layer
# nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer4, activation="relu"))

# # # Fourth hidden layer
# nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer4, activation="relu"))

# # # Fourth hidden layer
# nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer4, activation="relu"))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

2023-08-27 11:36:44.778991: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  SSE4.1 SSE4.2 AVX AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 1000)              41000

 dense_1 (Dense)             (None, 5000)              5005000

 dense_2 (Dense)             (None, 5000)              25005000

 dense_3 (Dense)             (None, 1)                 5001

=================================================================
Total params: 30,056,001
Trainable params: 30,056,001
Non-trainable params: 0
_________________________________________________________________

In [28]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 455s 560ms/step - loss: 0.5799 - accuracy: 0.7204
Epoch 2/100
804/804 [==============================] - 451s 561ms/step - loss: 0.5600 - accuracy: 0.7273
Epoch 3/100
804/804 [==============================] - 438s 545ms/step - loss: 0.5554 - accuracy: 0.7302
Epoch 4/100
804/804 [==============================] - 446s 555ms/step - loss: 0.5529 - accuracy: 0.7317
Epoch 5/100
804/804 [==============================] - 250s 311ms/step - loss: 0.5516 - accuracy: 0.7297
Epoch 6/100
804/804 [==============================] - 188s 234ms/step - loss: 0.5498 - accuracy: 0.7317
Epoch 7/100
804/804 [==============================] - 162s 201ms/step - loss: 0.5495 - accuracy: 0.7323
Epoch 8/100
804/804 [==============================] - 212s 264ms/step - loss: 0.5483 - accuracy: 0.7326
Epoch 9/100
804/804 [==============================] - 270s 336ms/step - loss: 0.5482 - accuracy: 0.7341
Epoch 10/100
804/804 [==============================] - 261s 324ms/step - loss: 0.5457 - accuracy: 0.7338
Epoch 11/100
804/804 [==============================] - 3102s 4s/step - loss: 0.5456 - accuracy: 0.7346
Epoch 12/100
804/804 [==============================] - 254s 315ms/step - loss: 0.5457 - accuracy: 0.7343
Epoch 13/100
804/804 [==============================] - 133s 166ms/step - loss: 0.5447 - accuracy: 0.7365
Epoch 14/100
804/804 [==============================] - 132s 164ms/step - loss: 0.5441 - accuracy: 0.7347
Epoch 15/100
804/804 [==============================] - 1374s 2s/step - loss: 0.5425 - accuracy: 0.7372
Epoch 16/100
804/804 [==============================] - 178s 222ms/step - loss: 0.5427 - accuracy: 0.7360
Epoch 17/100
804/804 [==============================] - 139s 173ms/step - loss: 0.5427 - accuracy: 0.7365
Epoch 18/100
804/804 [==============================] - 132s 164ms/step - loss: 0.5410 - accuracy: 0.7372
Epoch 19/100
804/804 [==============================] - 133s 165ms/step - loss: 0.5406 - accuracy: 0.7369
Epoch 20/100
804/804 [==============================] - 135s 168ms/step - loss: 0.5397 - accuracy: 0.7375
Epoch 21/100
804/804 [==============================] - 133s 166ms/step - loss: 0.5410 - accuracy: 0.7364
Epoch 22/100
804/804 [==============================] - 1289s 2s/step - loss: 0.5398 - accuracy: 0.7382
Epoch 23/100
804/804 [==============================] - 230s 286ms/step - loss: 0.5387 - accuracy: 0.7376
Epoch 24/100
804/804 [==============================] - 198s 246ms/step - loss: 0.5378 - accuracy: 0.7383
Epoch 25/100
804/804 [==============================] - 247s 307ms/step - loss: 0.5371 - accuracy: 0.7393
Epoch 26/100
804/804 [==============================] - 272s 338ms/step - loss: 0.5375 - accuracy: 0.7390
Epoch 27/100
804/804 [==============================] - 236s 293ms/step - loss: 0.5448 - accuracy: 0.7390
Epoch 28/100
804/804 [==============================] - 177s 220ms/step - loss: 0.5362 - accuracy: 0.7385
Epoch 29/100
804/804 [==============================] - 150s 187ms/step - loss: 0.5352 - accuracy: 0.7391
Epoch 30/100
804/804 [==============================] - 154s 191ms/step - loss: 0.5351 - accuracy: 0.7401
Epoch 31/100
804/804 [==============================] - 151s 188ms/step - loss: 0.5350 - accuracy: 0.7399
Epoch 32/100
804/804 [==============================] - 151s 188ms/step - loss: 0.5345 - accuracy: 0.7395
Epoch 33/100
804/804 [==============================] - 4973s 6s/step - loss: 0.5345 - accuracy: 0.7397
Epoch 34/100
804/804 [==============================] - 960s 1s/step - loss: 0.5340 - accuracy: 0.7408
Epoch 35/100
804/804 [==============================] - 154s 191ms/step - loss: 0.5342 - accuracy: 0.7400
Epoch 36/100
804/804 [==============================] - 152s 189ms/step - loss: 0.5332 - accuracy: 0.7408
Epoch 37/100
804/804 [==============================] - 154s 192ms/step - loss: 0.5329 - accuracy: 0.7413
Epoch 38/100
804/804 [==============================] - 155s 192ms/step - loss: 0.5352 - accuracy: 0.7405
Epoch 39/100
804/804 [==============================] - 522s 649ms/step - loss: 0.5335 - accuracy: 0.7399
Epoch 40/100
804/804 [==============================] - 159s 198ms/step - loss: 0.5323 - accuracy: 0.7406
Epoch 41/100
804/804 [==============================] - 152s 189ms/step - loss: 0.5329 - accuracy: 0.7415
Epoch 42/100
804/804 [==============================] - 155s 193ms/step - loss: 0.5321 - accuracy: 0.7405
Epoch 43/100
804/804 [==============================] - 374s 465ms/step - loss: 0.5317 - accuracy: 0.7404
Epoch 44/100
804/804 [==============================] - 173s 215ms/step - loss: 0.5314 - accuracy: 0.7409
Epoch 45/100
804/804 [==============================] - 182s 226ms/step - loss: 0.5319 - accuracy: 0.7409
Epoch 46/100
804/804 [==============================] - 328s 408ms/step - loss: 0.5304 - accuracy: 0.7409
Epoch 47/100
804/804 [==============================] - 515s 640ms/step - loss: 0.5310 - accuracy: 0.7411
Epoch 48/100
804/804 [==============================] - 457s 568ms/step - loss: 0.5301 - accuracy: 0.7415
Epoch 49/100
804/804 [==============================] - 487s 606ms/step - loss: 0.5301 - accuracy: 0.7413
Epoch 50/100
804/804 [==============================] - 445s 554ms/step - loss: 0.5436 - accuracy: 0.7403
Epoch 51/100
358/804 [============>.................] - ETA: 4:24 - loss: 0.5243 - accuracy: 0.7454

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

In [ ]:
# Export our model to HDF5
nn.save(AlphabetSoupCharity_Optimization_2.h5)