## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

from warnings import simplefilter
# ignore all future warnings
simplefilter(action='ignore')

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

2023-08-27 21:18:01.714773: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  SSE4.1 SSE4.2 AVX AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_clean = application_df.copy()
application_clean.drop(columns=["EIN","NAME"], axis=1, inplace=True)
application_clean.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
application_clean.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
amt = application_clean["ASK_AMT"]

In [5]:
amt.mean()

2769198.6820607013

In [6]:
amt.median()

5000.0

In [7]:
amt_values = amt.value_counts()
amt.sort_values()

0              5000
20358          5000
20356          5000
20355          5000
20354          5000
            ...
31337    3391919220
24795    4653011914
33678    5591584994
34222    8556638692
33175    8597806340
Name: ASK_AMT, Length: 34299, dtype: int64

In [8]:
bins = [0, 5001, 49999, 99999, 249999, 999999, 90000000000]
labels = [" 5K or less ", " 5K-50K ", " 50K-100k", " 100k-250k ", " 250k-1M ", "Over 1M" ]

In [9]:
application_clean["ASK_BINS"] = pd.cut(amt, bins, labels=labels)

In [10]:
application_clean.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL,ASK_BINS
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1,5K or less
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1,100k-250k
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0,5K or less
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1,5K-50K
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1,100k-250k

In [11]:
application_clean["ASK_BINS"].value_counts()

 5K or less     25399
 5K-50K          2946
Over 1M          1577
 250k-1M         1513
 100k-250k       1443
 50K-100k        1421
Name: ASK_BINS, dtype: int64

In [12]:
application_clean.drop(columns="ASK_AMT", axis=1, inplace=True)

In [13]:
# # Create 3 Income Buckets
# income_values = application_clean["INCOME_AMT"].value_counts()

In [14]:
# income_dict = income_values.to_dict()
# income_dict

In [15]:
# # Choose a cutoff value and create a list of application types to be replaced
# # use the variable name `application_types_to_replace`
# high_income_replace = []
# mid_income_replace = []

# for key,value in income_dict.items():
#   if value < 1000:
#     high_income_replace.append(key)
#   elif value > 1000 and value < 4000:
#     mid_income_replace.append(key)

# # Replace in dataframe
# for app in high_income_replace:
#     application_clean['INCOME_AMT'] = application_clean['INCOME_AMT'].replace(app,"1M+")

# for app in mid_income_replace:
#     application_clean['INCOME_AMT'] = application_clean['INCOME_AMT'].replace(app,"25000-499999")


# application_clean['INCOME_AMT'].value_counts()

In [16]:
# Look at APPLICATION_TYPE value counts for binning
application_values = application_clean["APPLICATION_TYPE"].value_counts()
application_values

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [17]:
#Compile values into dictionary
application_dict = application_values.to_dict()

In [18]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = []

for key,value in application_dict.items():
  if value < 156:
    application_types_to_replace.append(key)

# Replace in dataframe
for app in application_types_to_replace:
    application_clean['APPLICATION_TYPE'] = application_clean['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_clean['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: APPLICATION_TYPE, dtype: int64

In [19]:
# Look at CLASSIFICATION value counts for binning
class_values = application_clean["CLASSIFICATION"].value_counts()
class_values

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [20]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_values_limited = application_clean["CLASSIFICATION"].value_counts()[application_clean["CLASSIFICATION"].value_counts() >1]
class_values_limited

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [21]:
# Convert value counts to dict
class_dict = class_values.to_dict()

In [22]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = []

for key,value in class_dict.items():
  if value < 10:
    classifications_to_replace.append(key)


# Replace in dataframe
for cls in classifications_to_replace:
    application_clean['CLASSIFICATION'] = application_clean['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_clean['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Other       98
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
Name: CLASSIFICATION, dtype: int64

In [23]:
application_clean.drop(columns=["ASK_BINS"], axis=1, inplace=True)

In [24]:
# Convert categorical data to numeric with `pd.get_dummies`
application_dummies = pd.get_dummies(application_clean, columns=["ORGANIZATION","CLASSIFICATION", "APPLICATION_TYPE", "INCOME_AMT", \
                                                                 "SPECIAL_CONSIDERATIONS","USE_CASE","AFFILIATION", "STATUS"])

application_dummies.head()

,IS_SUCCESSFUL,ORGANIZATION_Association,ORGANIZATION_Co-operative,ORGANIZATION_Corporation,ORGANIZATION_Trust,CLASSIFICATION_C1000,CLASSIFICATION_C1200,CLASSIFICATION_C1230,CLASSIFICATION_C1238,CLASSIFICATION_C1240,...,USE_CASE_Preservation,USE_CASE_ProductDev,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,AFFILIATION_Independent,AFFILIATION_National,AFFILIATION_Other,AFFILIATION_Regional,STATUS_0,STATUS_1
0,1,1,0,0,0,1,0,0,0,0,...,0,1,0,0,1,0,0,0,0,1
1,1,0,1,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,1
2,0,1,0,0,0,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,1
3,1,0,0,0,1,0,0,0,0,0,...,1,0,1,0,0,0,0,0,0,1
4,1,0,0,0,1,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1

In [25]:
# Split our preprocessed data into our features and target arrays
y = application_dummies["IS_SUCCESSFUL"].values.reshape(-1, 1)
X = application_dummies.copy()
X.drop(columns="IS_SUCCESSFUL", axis=1, inplace=True)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [26]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [27]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#

# Define the model - deep neural net
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  300
hidden_nodes_layer2 = 500
hidden_nodes_layer3 = 500
hidden_nodes_layer4 = 500
# hidden_nodes_layer4 = 100
# hidden_nodes_layer4 = 100
# hidden_nodes_layer4 = 100

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# # Fourth hidden layer
# nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer4, activation="relu"))

# # Fourth hidden layer
# nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer4, activation="relu"))

# # # Fourth hidden layer
# nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer4, activation="relu"))

# # # Fourth hidden layer
# nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer4, activation="relu"))

# # # Fourth hidden layer
# nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer4, activation="relu"))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

2023-08-27 21:18:38.985507: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  SSE4.1 SSE4.2 AVX AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 300)               20700

 dense_1 (Dense)             (None, 500)               150500

 dense_2 (Dense)             (None, 500)               250500

 dense_3 (Dense)             (None, 1)                 501

=================================================================
Total params: 422,201
Trainable params: 422,201
Non-trainable params: 0
_________________________________________________________________

In [28]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [29]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=300)

Epoch 1/300
804/804 [==============================] - 16s 13ms/step - loss: 0.5707 - accuracy: 0.7226
Epoch 2/300
804/804 [==============================] - 11s 13ms/step - loss: 0.5552 - accuracy: 0.7296
Epoch 3/300
804/804 [==============================] - 10s 13ms/step - loss: 0.5513 - accuracy: 0.7313
Epoch 4/300
804/804 [==============================] - 10s 13ms/step - loss: 0.5485 - accuracy: 0.7328
Epoch 5/300
804/804 [==============================] - 10s 13ms/step - loss: 0.5471 - accuracy: 0.7339
Epoch 6/300
804/804 [==============================] - 10s 13ms/step - loss: 0.5461 - accuracy: 0.7341
Epoch 7/300
804/804 [==============================] - 11s 14ms/step - loss: 0.5452 - accuracy: 0.7343
Epoch 8/300
804/804 [==============================] - 10s 13ms/step - loss: 0.5442 - accuracy: 0.7351
Epoch 9/300
804/804 [==============================] - 11s 14ms/step - loss: 0.5436 - accuracy: 0.7353
Epoch 10/300
804/804 [==============================] - 10s 13ms/step - loss: 0.5429 - accuracy: 0.7359
Epoch 11/300
804/804 [==============================] - 10s 13ms/step - loss: 0.5420 - accuracy: 0.7361
Epoch 12/300
804/804 [==============================] - 10s 13ms/step - loss: 0.5415 - accuracy: 0.7368
Epoch 13/300
804/804 [==============================] - 9s 12ms/step - loss: 0.5418 - accuracy: 0.7367
Epoch 14/300
804/804 [==============================] - 8s 9ms/step - loss: 0.5403 - accuracy: 0.7369
Epoch 15/300
804/804 [==============================] - 8s 9ms/step - loss: 0.5400 - accuracy: 0.7374
Epoch 16/300
804/804 [==============================] - 8s 10ms/step - loss: 0.5400 - accuracy: 0.7374
Epoch 17/300
804/804 [==============================] - 8s 10ms/step - loss: 0.5397 - accuracy: 0.7385
Epoch 18/300
804/804 [==============================] - 7s 8ms/step - loss: 0.5393 - accuracy: 0.7386
Epoch 19/300
804/804 [==============================] - 8s 10ms/step - loss: 0.5380 - accuracy: 0.7389
Epoch 20/300
804/804 [==============================] - 7s 9ms/step - loss: 0.5374 - accuracy: 0.7386
Epoch 21/300
804/804 [==============================] - 7s 9ms/step - loss: 0.5376 - accuracy: 0.7392
Epoch 22/300
804/804 [==============================] - 7s 8ms/step - loss: 0.5366 - accuracy: 0.7393
Epoch 23/300
804/804 [==============================] - 7s 9ms/step - loss: 0.5373 - accuracy: 0.7393
Epoch 24/300
804/804 [==============================] - 9s 11ms/step - loss: 0.5362 - accuracy: 0.7394
Epoch 25/300
804/804 [==============================] - 9s 11ms/step - loss: 0.5361 - accuracy: 0.7391
Epoch 26/300
804/804 [==============================] - 9s 11ms/step - loss: 0.5356 - accuracy: 0.7400
Epoch 27/300
804/804 [==============================] - 7s 9ms/step - loss: 0.5345 - accuracy: 0.7394
Epoch 28/300
804/804 [==============================] - 7s 9ms/step - loss: 0.5350 - accuracy: 0.7403
Epoch 29/300
804/804 [==============================] - 7s 9ms/step - loss: 0.5337 - accuracy: 0.7407
Epoch 30/300
804/804 [==============================] - 8s 10ms/step - loss: 0.5342 - accuracy: 0.7409
Epoch 31/300
804/804 [==============================] - 8s 10ms/step - loss: 0.5333 - accuracy: 0.7415
Epoch 32/300
804/804 [==============================] - 7s 9ms/step - loss: 0.5329 - accuracy: 0.7414
Epoch 33/300
804/804 [==============================] - 7s 9ms/step - loss: 0.5331 - accuracy: 0.7410
Epoch 34/300
804/804 [==============================] - 8s 9ms/step - loss: 0.5327 - accuracy: 0.7413
Epoch 35/300
804/804 [==============================] - 7s 9ms/step - loss: 0.5332 - accuracy: 0.7417
Epoch 36/300
804/804 [==============================] - 8s 10ms/step - loss: 0.5327 - accuracy: 0.7409
Epoch 37/300
804/804 [==============================] - 8s 10ms/step - loss: 0.5320 - accuracy: 0.7407
Epoch 38/300
804/804 [==============================] - 7s 9ms/step - loss: 0.5323 - accuracy: 0.7416
Epoch 39/300
804/804 [==============================] - 7s 9ms/step - loss: 0.5322 - accuracy: 0.7411
Epoch 40/300
804/804 [==============================] - 7s 9ms/step - loss: 0.5310 - accuracy: 0.7417
Epoch 41/300
804/804 [==============================] - 8s 9ms/step - loss: 0.5313 - accuracy: 0.7423
Epoch 42/300
804/804 [==============================] - 8s 10ms/step - loss: 0.5322 - accuracy: 0.7416
Epoch 43/300
804/804 [==============================] - 9s 11ms/step - loss: 0.5311 - accuracy: 0.7423
Epoch 44/300
804/804 [==============================] - 8s 10ms/step - loss: 0.5311 - accuracy: 0.7416
Epoch 45/300
804/804 [==============================] - 7s 9ms/step - loss: 0.5307 - accuracy: 0.7421
Epoch 46/300
804/804 [==============================] - 7s 9ms/step - loss: 0.5311 - accuracy: 0.7423
Epoch 47/300
804/804 [==============================] - 7s 9ms/step - loss: 0.5309 - accuracy: 0.7418
Epoch 48/300
804/804 [==============================] - 7s 9ms/step - loss: 0.5298 - accuracy: 0.7419
Epoch 49/300
804/804 [==============================] - 7s 9ms/step - loss: 0.5303 - accuracy: 0.7418
Epoch 50/300
804/804 [==============================] - 7s 9ms/step - loss: 0.5303 - accuracy: 0.7420
Epoch 51/300
804/804 [==============================] - 7s 9ms/step - loss: 0.5294 - accuracy: 0.7426
Epoch 52/300
804/804 [==============================] - 7s 9ms/step - loss: 0.5319 - accuracy: 0.7416
Epoch 53/300
804/804 [==============================] - 8s 9ms/step - loss: 0.5292 - accuracy: 0.7424
Epoch 54/300
804/804 [==============================] - 7s 9ms/step - loss: 0.5297 - accuracy: 0.7423
Epoch 55/300
804/804 [==============================] - 10s 12ms/step - loss: 0.5288 - accuracy: 0.7423
Epoch 56/300
804/804 [==============================] - 9s 11ms/step - loss: 0.5283 - accuracy: 0.7429
Epoch 57/300
804/804 [==============================] - 7s 9ms/step - loss: 0.5306 - accuracy: 0.7420
Epoch 58/300
804/804 [==============================] - 7s 9ms/step - loss: 0.5290 - accuracy: 0.7427
Epoch 59/300
804/804 [==============================] - 7s 9ms/step - loss: 0.5282 - accuracy: 0.7425
Epoch 60/300
804/804 [==============================] - 8s 10ms/step - loss: 0.5280 - accuracy: 0.7425
Epoch 61/300
804/804 [==============================] - 8s 10ms/step - loss: 0.5288 - accuracy: 0.7422
Epoch 62/300
804/804 [==============================] - 7s 8ms/step - loss: 0.5284 - accuracy: 0.7427
Epoch 63/300
804/804 [==============================] - 7s 9ms/step - loss: 0.5296 - accuracy: 0.7425
Epoch 64/300
804/804 [==============================] - 8s 11ms/step - loss: 0.5284 - accuracy: 0.7425
Epoch 65/300
804/804 [==============================] - 9s 11ms/step - loss: 0.5337 - accuracy: 0.7420
Epoch 66/300
 82/804 [==>...........................] - ETA: 7s - loss: 0.5344 - accuracy: 0.7321

KeyboardInterrupt:

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

In [ ]:
# Export our model to HDF5
nn.save('AlphabetSoupCharity_Optimization_2c.h5')