## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
from keras.callbacks import Callback
import os

import warnings
warnings.simplefilter(action='ignore', category=Warning)


#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

2023-08-27 11:51:59.472687: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  SSE4.1 SSE4.2 AVX AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_clean = application_df.copy()
application_clean.drop(columns=["EIN","NAME"], axis=1, inplace=True)
application_clean.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
application_clean.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_values = application_clean["APPLICATION_TYPE"].value_counts()
application_values

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
#Compile values into dictionary
application_dict = application_values.to_dict()

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = []

for key,value in application_dict.items():
  if value < 528:
    application_types_to_replace.append(key)

# Replace in dataframe
for app in application_types_to_replace:
    application_clean['APPLICATION_TYPE'] = application_clean['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_clean['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
class_values = application_clean["CLASSIFICATION"].value_counts()
class_values

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_values_limited = application_clean["CLASSIFICATION"].value_counts()[application_clean["CLASSIFICATION"].value_counts() >1]
class_values_limited

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert value counts to dict
class_dict = class_values.to_dict()

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = []

for key,value in class_dict.items():
  if value < 528:
    classifications_to_replace.append(key)


# Replace in dataframe
for cls in classifications_to_replace:
    application_clean['CLASSIFICATION'] = application_clean['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_clean['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
application_dummies = pd.get_dummies(application_clean, columns=["SPECIAL_CONSIDERATIONS", "APPLICATION_TYPE", "CLASSIFICATION",\
                                                                 "AFFILIATION", "USE_CASE", "ORGANIZATION", "INCOME_AMT"])

application_dummies.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,1,5000,1,1,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,1,108590,1,1,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
2,1,5000,0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,1,6692,1,1,0,0,0,0,1,0,...,1,0,0,1,0,0,0,0,0,0
4,1,142590,1,1,0,0,0,0,1,0,...,1,0,0,0,1,0,0,0,0,0

In [12]:
# Split our preprocessed data into our features and target arrays
y = application_dummies["IS_SUCCESSFUL"].values.reshape(-1, 1)
X = application_dummies.copy()
X.drop(columns="IS_SUCCESSFUL", axis=1, inplace=True)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [14]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#

# Define the model - deep neural net
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  95
hidden_nodes_layer2 = 190

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# # Second hidden layer
# nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

2023-08-27 11:53:41.503985: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  SSE4.1 SSE4.2 AVX AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 95)                4275

 dense_1 (Dense)             (None, 190)               18240

 dense_2 (Dense)             (None, 1)                 191

=================================================================
Total params: 22,706
Trainable params: 22,706
Non-trainable params: 0
_________________________________________________________________

In [15]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [16]:
# Callbacks loop via ChatGPT
class SaveModelWeights(Callback):
    def __init__(self, save_dir, save_interval=5):
        super(SaveModelWeights, self).__init__()
        self.save_dir = save_dir
        self.save_interval = save_interval
        self.epoch_count = 0

    def on_epoch_end(self, epoch, logs=None):
        self.epoch_count += 1
        if self.epoch_count % self.save_interval == 0:
            model_name = f"model_weights_epoch_{self.epoch_count}.h5"
            save_path = os.path.join(self.save_dir, model_name)
            self.model.save_weights(save_path)
            print(f"Saved model weights at epoch {self.epoch_count} to {save_path}")


# Directory to save model weights
save_dir = 'model_weights'

# Create the callback
save_callback = SaveModelWeights(save_dir, save_interval=5)

In [18]:
# Train the model
# fit_model = nn.fit(X_train_scaled,y_train,epochs=100, callbacks=[save_callback])
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 4s 6ms/step - loss: 0.5320 - accuracy: 0.7412
Epoch 2/100
804/804 [==============================] - 5s 7ms/step - loss: 0.5322 - accuracy: 0.7407
Epoch 3/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5319 - accuracy: 0.7400
Epoch 4/100
804/804 [==============================] - 5s 7ms/step - loss: 0.5316 - accuracy: 0.7409
Epoch 5/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5318 - accuracy: 0.7413
Epoch 6/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5316 - accuracy: 0.7412
Epoch 7/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5316 - accuracy: 0.7407
Epoch 8/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5327 - accuracy: 0.7416
Epoch 9/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5325 - accuracy: 0.7406
Epoch 10/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5321 - accuracy: 0.7408
Epoch 11/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5319 - accuracy: 0.7408
Epoch 12/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5313 - accuracy: 0.7412
Epoch 13/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5320 - accuracy: 0.7405
Epoch 14/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5313 - accuracy: 0.7406
Epoch 15/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5312 - accuracy: 0.7407
Epoch 16/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5315 - accuracy: 0.7410
Epoch 17/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5317 - accuracy: 0.7409
Epoch 18/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5348 - accuracy: 0.7399
Epoch 19/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5318 - accuracy: 0.7409
Epoch 20/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5309 - accuracy: 0.7411
Epoch 21/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5309 - accuracy: 0.7407
Epoch 22/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5310 - accuracy: 0.7408
Epoch 23/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5311 - accuracy: 0.7414
Epoch 24/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5307 - accuracy: 0.7405
Epoch 25/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5312 - accuracy: 0.7407
Epoch 26/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5310 - accuracy: 0.7409
Epoch 27/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5312 - accuracy: 0.7409
Epoch 28/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5311 - accuracy: 0.7409
Epoch 29/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5311 - accuracy: 0.7408
Epoch 30/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5305 - accuracy: 0.7414
Epoch 31/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5324 - accuracy: 0.7404
Epoch 32/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5311 - accuracy: 0.7408
Epoch 33/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5325 - accuracy: 0.7408
Epoch 34/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5307 - accuracy: 0.7411
Epoch 35/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5308 - accuracy: 0.7413
Epoch 36/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5311 - accuracy: 0.7414
Epoch 37/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5311 - accuracy: 0.7413
Epoch 38/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5309 - accuracy: 0.7405
Epoch 39/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5307 - accuracy: 0.7420
Epoch 40/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5313 - accuracy: 0.7407
Epoch 41/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5310 - accuracy: 0.7415
Epoch 42/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5309 - accuracy: 0.7406
Epoch 43/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5306 - accuracy: 0.7410
Epoch 44/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5321 - accuracy: 0.7415
Epoch 45/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5306 - accuracy: 0.7415
Epoch 46/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5309 - accuracy: 0.7409
Epoch 47/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5311 - accuracy: 0.7411
Epoch 48/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5308 - accuracy: 0.7413
Epoch 49/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5448 - accuracy: 0.7407
Epoch 50/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5317 - accuracy: 0.7416
Epoch 51/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5304 - accuracy: 0.7415
Epoch 52/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5307 - accuracy: 0.7411
Epoch 53/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5305 - accuracy: 0.7407
Epoch 54/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5302 - accuracy: 0.7412
Epoch 55/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5307 - accuracy: 0.7412
Epoch 56/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5311 - accuracy: 0.7412
Epoch 57/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5303 - accuracy: 0.7414
Epoch 58/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5308 - accuracy: 0.7407
Epoch 59/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5307 - accuracy: 0.7413
Epoch 60/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5306 - accuracy: 0.7411
Epoch 61/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5307 - accuracy: 0.7404
Epoch 62/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5304 - accuracy: 0.7411
Epoch 63/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5301 - accuracy: 0.7421
Epoch 64/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5341 - accuracy: 0.7412
Epoch 65/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5327 - accuracy: 0.7411
Epoch 66/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5302 - accuracy: 0.7414
Epoch 67/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5302 - accuracy: 0.7416
Epoch 68/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5298 - accuracy: 0.7416
Epoch 69/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5302 - accuracy: 0.7410
Epoch 70/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5305 - accuracy: 0.7415
Epoch 71/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5304 - accuracy: 0.7405
Epoch 72/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5306 - accuracy: 0.7408
Epoch 73/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5305 - accuracy: 0.7416
Epoch 74/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5300 - accuracy: 0.7418
Epoch 75/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5301 - accuracy: 0.7413
Epoch 76/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5316 - accuracy: 0.7416
Epoch 77/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5304 - accuracy: 0.7413
Epoch 78/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5311 - accuracy: 0.7414
Epoch 79/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5305 - accuracy: 0.7411
Epoch 80/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5299 - accuracy: 0.7407
Epoch 81/100

804/804 [==============================] - 4s 5ms/step - loss: 0.5297 - accuracy: 0.7411
Epoch 82/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5296 - accuracy: 0.7418
Epoch 83/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5300 - accuracy: 0.7413
Epoch 84/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5340 - accuracy: 0.7410
Epoch 85/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5322 - accuracy: 0.7414
Epoch 86/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5299 - accuracy: 0.7419
Epoch 87/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5301 - accuracy: 0.7418
Epoch 88/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5300 - accuracy: 0.7416
Epoch 89/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5300 - accuracy: 0.7413
Epoch 90/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5297 - accuracy: 0.7418
Epoch 91/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5301 - accuracy: 0.7414
Epoch 92/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5309 - accuracy: 0.7415
Epoch 93/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5303 - accuracy: 0.7417
Epoch 94/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5296 - accuracy: 0.7412
Epoch 95/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5296 - accuracy: 0.7420
Epoch 96/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5299 - accuracy: 0.7420
Epoch 97/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5299 - accuracy: 0.7416
Epoch 98/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5296 - accuracy: 0.7418
Epoch 99/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5297 - accuracy: 0.7418
Epoch 100/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5297 - accuracy: 0.7410

In [19]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5860 - accuracy: 0.7282 - 1s/epoch - 5ms/step
Loss: 0.5859964489936829, Accuracy: 0.7281632423400879

In [20]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization_3.h5")